@import "./layout.scss";

body {
    overflow-x: hidden;
}
img {
    user-select: none;
}
.index {
    z-index: 10;
}
//section1
.sec1 {
    padding-top: 80px;
    width: 100%;
    height: 800px;
    position: static;
    overflow: hidden;
    -ms-overflow-style: none;
    /* хром, сафари */
    .paralax {
        position: absolute;
        left: -10%;
        overflow: hidden;
        right: 0;
        bottom: 0;
        top: 0;
        width: 110%;
        height: 800px;
    }
    .p_bag {
        background-color: #d2e5f5;
        background-image: url(../img/parelax1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 3;

        padding: 20px;
    }
    .p1 {
        background-image: url(../img/parelax2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 5;
        padding: 20px;
        @include flex(center, flex-end, row);
        .content_fix {
            width: 90%;
            padding-left: 40px;
            .title {
                width: 443px;
                h1 {
                    @include mf(44px, $w, 100%, 700);
                    margin-bottom: 20px;
                }
                p {
                    @include mf(24px, $w, 100%, 400);
                }
            }
        }
        .title {
            padding: 20px;
            width: 60%;
        }
    }
    .p2 {
        z-index: 4;
        background-image: url(../img/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

// section2
.sec2 {
    width: 100%;
    padding: 10px 20px;
    @include flex(center, center, column);
    .subtitle {
        @include flex(center, center, column);
        h2 {
            position: relative;
            @include mf(187px, black, normal, 400);
            &::after {
                content: "Немного о нас";
                @include mf(48px, black, normal, 400);
                position: absolute;
                opacity: 0.30000001192092896;
                right: 0;
                bottom: 0;
            }
        }
        margin-bottom: 20px;
    }
    .about_us {
        width: 100%;
        gap: 10px;
        @include flex(space-around, flex-start, row);
        flex-wrap: wrap;
        .content {
            margin-bottom: 40px;
            width: 453px;
            h5 {
                @include mf(24px, black, 90%, 400);
                margin-bottom: 20px;
            }
            p {
                @include ft(16px, black, 130%, 300);
            }
        }
        .content_img {
            img {
                border-radius: 10px;
            }
        }
    }
}

// section3
.sec3 {
    width: 100%;
    padding: 10px 20px;
    @include flex(space-between, flex-start, column);
    h3 {
        margin: 0 auto;
        @include mf(187px, black, 203px, 400);
    }
    .product {
        margin-top: 40px;

        @include flex(space-evenly, flex-start, row);
        gap: 10px;
        flex-wrap: wrap;
        .card {
            width: 100%;
            @include flex(space-between, flex-start, column);
            border-radius: 10px;
            width: 453px;
            height: 453px;
            background-color: $hov;
            .product_card {
                padding: 20px 40px;
                background-image: url(../img/sun.svg);
                background-repeat: no-repeat;
                background-position: right bottom;
                width: 100%;
                height: 278px;
                border-radius: 10px;
                background-color: #cdef93;
                @include flex(space-between, flex-start, row);
                p {
                    @include ft(56px, black, normal, 400);
                }
            }
            .discription_card {
                width: 100%;
                border-radius: 10px;
                padding: 10px;
                height: 175px;
                background-color: #5c9200;
                h4 {
                    @include mf(40px, white, 130%, 700);
                }
                p {
                    @include ft(21px, white, 130%, 300);
                }
            }
        }
    }
}
// section 4
.sec4 {
    width: 100%;
    @include flex(center, center, column);
    h3 {
        @include mf(187px, black, normal, 400);
    }
}
.swiper {
    width: 90%;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #cdef93;
}
.swiper-slide {
    height: 450px;
    .person {
        background-color: #5c9200;
        border-radius: 10px;
        border: 1px solid #cdef93;
        @include flex(center, flex-start, row);
        .photo {
            height: 400px;
            overflow: hidden;
            width: fit-content;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            img {
                object-fit: cover;
                width: 100%;
                height: 402px;
            }
        }
        .person_name {
            width: 200px;
            padding: 18px;
            @include flex(space-between, center, column);
            height: 400px;
            .top_person {
                h3 {
                    @include mf(28px, white, 130%, 700);
                }
                h4 {
                    @include ft(16px, white, 115%, 300);
                }
            }
            .bottom_person {
                h3 {
                    @include mf(20px, white, 130%, 700);
                }
                ol {
                    li {
                        @include ft(16px, white, 130%, 300);
                        list-style-type: decimal;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    header {
        left: 50%;
        transform: translateX(-50%);
        max-width: 1920px;
    }
    main {
        margin: 0 auto;
        max-width: 1920px;
    }
    .sec1 {
        .paralax {
            max-width: 1920px;
            left: 50%;
            transform: translateX(-50%);
        }
        .p1 {
            .content_fix {
                width: 80%;
            }
        }
    }
    .sec2 {
        .about_us {
            .img2 {
                order: -1;
            }
        }
    }
    footer {
        max-width: 1920px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1280px) {
    .sec1 {
        .p_bag {
            background-size: auto;
        }
        .p1 {
            background-size: auto;
        }
        .p2 {
            background-size: 600px;
        }
    }
    .sec2 {
        .subtitle {
            h2 {
                font-size: 130px;
                height: 190px;
                &::after {
                    font-size: 36px;
                }
            }
        }
    }
    .sec4 {
        h3 {
            font-size: 140px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .sec1 {
        .p2 {
            background-size: 400px;
        }
    }
    .sec2 {
        .subtitle {
            h2 {
                font-size: 100px;
                &::after {
                    font-size: 36px;
                }
            }
        }
    }
    .sec3 {
        h3 {
            font-size: 120px;
        }
        .product {
            flex-wrap: wrap;
            .card {
                width: 45%;
            }
        }
    }
    .sec4 {
        h3 {
            font-size: 124px;
        }
    }
}

// 880
@media screen and (max-width: 880px) {
    .sec3 {
        .product {
            flex-wrap: wrap;
            .card {
                width: 453px;
            }
        }
    }
    .sec4 {
        h3 {
            font-size: 100px;
        }
    }
}


@media screen and (max-width: 768px) {
    header {
        .burger {
            order: 1;
        }
    }
    .sec1 {
        .p2 {
            background-size: 420px;
        }
    }

    .sec2 {
        .subtitle {
            h2 {
                font-size: 64px;
                height: 100px;
                &::after {
                    font-size: 24px;
                }
            }
        }
        .about_us {
            .content {
                width: 100%;
            }
        }
        .content_img {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .sec3 {
        h3 {
            font-size: 96px;
        }
    }
    
}

@media screen and (max-width: 540px) {
    .sec1 {
        .p1 {
            .content_fix {
                padding-left: 0;
                height: 320px;
                .title {
                    h1 {
                        font-size: 36px;
                    }
                }
            }
        }
        .p2 {
            background-position: 152px 260px;
            background-size: 300px;
        }
    }
    .sec2 {
        .subtitle {
            h2 {
                font-size: 52px;
            }
        }
    }
    .sec3 {
        h3 {
            font-size: 64px;
        }
        .product {
            .card {
                width: 100%;
            }
        }
    }
    .sec4 {
        h3 {
            font-size: 64px;
        }
    }
}
@media screen and (max-width: 425px) {
    .sec1 {
        .p1 {
            .content_fix {
                .title {
                    width: 330px;
                    height: 310px;
                }
            }
        }
    }
    .sec3 {
        .product {
            width: 100%;
            .card {
                .product_card {
                    p {
                        font-size: 48px;
                    }
                }
            }
            .product_card {
                p {
                    font-size: 36px;
                }
            }
        }
    }
}
@media screen and (max-width: 390px) {
    .sec1 {
        .p1 {
            .content_fix {
                padding-left: 0;
                height: 200px;
                .title {
                    h1 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
        .p2 {
            background-position: 90px 260px;
            background-size: 300px;
        }
    }
    .sec2 {
        .subtitle {
            h2 {
                height: 60px;
                font-size: 36px;
                &::after {
                    font-size: 16px;
                }
            }
        }
    }
    .sec3 {
        .product {
            width: 100%;
            margin-top: 0;
            .card {
                .product_card {
                    flex-direction: column;
                    align-items: center;
                    img {
                        width: 190px;
                    }
                }
            }
        }
    }
    .sec4 {
        h3 {
            font-size: 44px;
        }
    }
}
@media screen and (max-width: 350px) {
    .sec1 {
        .p2 {
            background-position: 75px 300px;
            background-size: 250px;
        }
    }
    .swiper-slide {
        .person {
            @include flex(center, flex-start, row);
            .person_name {
                .top_person {
                    h3 {
                        font-size: 20px;
                    }
                    h4 {
                        font-size: 16px;
                    }
                }
                .bottom_person {
                    h3 {
                        font-size: 16px;
                    }
                    ol {
                        li {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .sec1 {
        .p2 {
            background-position: 60px 300px;
            background-size: 250px;
        }
    }
}
